<form action="/login" method="POST">
    <h2>Login Name</h2>
   <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <div>
        <label for="password">Password :</label>
        <input type="password" id='password' name='password' placeholder="password">
    </div>
    <button type="reset">CANCEL</button>
    <button type="submit">SEND</button>
</form>